@import url('https://fonts.googleapis.com/css?family=Raleway:700');

body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.container{

}

.header{
    width: 100%;
    background: #abeafa;
    height: 700px;
}

.header_content{
    width: 1170px;
    margin: 0 auto;
    background: url(img/surfhouse_logo.png) 69px 24px no-repeat transparent;
    height: 700px;
}

.main {
    width: 1170px;
    margin: 0 auto;
    white-space: nowrap;
    display: flex;
}

.menu{
    text-transform: uppercase;
    background: #26d2fc;
    font-size: 12pt;
    list-style-type: none;
    padding: 0;
    width: 270px;
}

.menu a{
    color: black;
    display: block;
    padding: 10px 25px;
}

.menu a:hover{
    color: white;
    background: #333333;
}

.heading {
    color: white;
    background: #333333;
    padding: 25px;
}

.menu li + a {
    height: 50px;
}

h1.product_name {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.quick {
    font-size: 12px;
    color: rgb(112, 112, 112);
    text-align: left;
}

.description {
    font-size: 11px;
    color: rgb(128, 128, 128);
    text-align: left;
}

.contact_form + input {
    width: 300px;
    height: 20px;
    border: 1px solid #efefef;
}

.contact_form + input:focus, textarea:focus {
    background: #f2fcff;
    outline: none;
}

.contact_form + input.submit_button{
    width: 150px;
}

.contact_form + input.reset_button{
    width: 150px;
}

.contact_form + textarea {
    width: 300px;
    height: 120px;
    border: 1px solid #efefef;
    text-transform: capitalize;
}

.footer {
    background: #373737;
    color: white;
    font-size: 11px;
    width: 100%;
}

.footer_top_bg{
    width: 100%;
    min-width: 1170px;
    background: #373737;
}

.footer_top_content{
    width: 1170px;
    height: 300px;
    margin: 0 auto;
    white-space: nowrap;
}

.footer_top_column {
    display: inline-block;
    width: 20%;
    white-space: normal;
    vertical-align: top;
    padding-top: 75px;
}

.footer_menu{
    margin: 0;
    font-size: 12px;
    list-style-type: none;
    line-height: 1.5;
}

.footer_menu a{
    color: white;
}

.footer_menu a:hover{
    color: #fff51f;
}

.footer_heading {
    font-size: 18px;
    color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
li.footer_heading{
    margin-bottom: 25px;
}

.footer_bottom_bg {
    background: #333333;
    width: 100%;
    min-width: 1170px;
}

.footer_bottom_content {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    height: 47px;
    font-size: 0;
    display: flex;
    align-items: center;
}

.footer_bottom_content_left {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    margin: 0;
}

.footer_bottom_content_right {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    margin: 0;
    text-align: right;
}

.footer_bottom_social {
    filter: brightness(100);
    margin-right: 15px;
}


caption {
    font-weight: bold;
    text-align: left;
}

.main_img{
    margin-left: 4px;
    outline: #eaeaea solid 2px;
}

.main_img:hover {
    outline: none;
}

.product_view {
    border: 0px;
    border-collapse: collapse;

}

.product_page_heading {
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-weight: 100;
}

.product_view td {
    border: 0px;
}

.product_view tr {
    border-bottom: #d6d4d4 solid 1px;
}

.active_td {
    background: #26d2fc;
    padding: 10px;
}

/*Product page START*/

.main_menu_column{
    display: inline-block;
    width: 270px;
    white-space: normal;
}

.main_content_column{
    display: inline-block;
    width: 870px;
    white-space: normal;
    padding-left: 30px;
}

.quick_overview{
    white-space: nowrap;
    display: flex;
}

.quick_overview_img{
    display: inline-block;
    width: 370px;
    white-space: normal;
}

.quick_overview_content{
    display: inline-block;
    width: 530px;
    white-space: normal;
}

.poduct_page_main_img{
    width: 370px;
}

.button_add_to_card{
    width: 130px;
    height: 48px;
    background: #fb4d01;
    color: white;
    border: 0;
}

.button_add_to_card:hover:active:focus{
    background: #fb1e01;
    border: 0;
    outline: none;
 }

.button_add_to_card:visited{
    background: #fb4d01;
    border: 0;
    outline: none;
}
/*Product page END*/

/*Catalog page START*/
.catalog_elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog_product{
    width:270px;
    height: 320px;
    background: white;
    margin-top: 30px;

}

.catalog_product_img{
    width: 250px;
}

.product_photo{
    padding: 10px;
}

.product_caption{
    padding: 10px;
    white-space: nowrap;
    display: flex;
    font-weight: bold;
    font-style: italic;
}

.product_title{
    display: inline-block;
    width: 70%;
    font-size: 14px;
}

.product_prices{
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 18px;
}
/*Catalog page END*/

/*Contact START*/
.background_header_content{
    position: absolute;
}
/*Contact END*/