@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container{

}

.header{
    width: 100%;
    min-width: 1170px;
    background: #abeafa;
    height: 700px;
}

.header-content-top{
    width: 1170px;
    margin: 0 auto;
    height: 135px;
}

.header-content-top .logo{
    background: url(img/surfhouse_logo.png) no-repeat;
    display: block;
    width: 125px;
    height: 111px;
    float: left;
    margin-top: 24px;
    margin-left: 69px;
}

.header-content-top-social {
    filter: brightness(100);
    float: right;
    display: block;
    margin-top: 50px;
    margin-right: 64px;
}

.header-content-top-social img{
    margin-left: 11px;
}

.header-content-bottom{
    margin: 0 auto;
    height: 565px;
    display: block;
    width: 1170px;
}

.header-content-bottom-left{
    width: 270px;
    display: inline-block;
}

.login{
    width: 204px;
    height: 12px;
    display: block;
    background: #f8f8f8;
    margin-top: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 33px;
}

.login a{
    color: #fb4d01;
}

.login a:nth-child(2){
    float: right;
}

.cart-bg{
    height: 34px;
    display: block;
    background: #fb4d01;
    padding: 14px 19px 14px 26px;
}

.icon-cart{
    background: url(img/icon-cart.png) no-repeat;
    height: 62px;
    width: 50px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.item-price{
    display: inline-block;
    width: 130px;
    height: 62px;
    white-space: normal;
    vertical-align: top;
}

.item-price p{
    margin: 0px;
}

.item-price p:first-child{
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.item-price p:nth-child(2){
    color: #faef03;
    font-size: 12px;
}

.cart-buttons{
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    text-transform: uppercase;
}

.header-welcome-block{
    margin-top: 201px;
    background: #fff51f;
    color: #333333;
    width: 220px;
    height: 300px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    padding: 0px 25px;
    letter-spacing: -1px;
    line-height: 15px;
    float: left;
}

.header-welcome-block p{
    font-size: 30px;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 78px;
    margin: 0px;
    padding-bottom: 20px;
    letter-spacing: normal;
    line-height: 30px;
}

.header-content-bottom-right{
    float: right;
}

.main {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    white-space: nowrap;
    position: relative;
    top: -20px;
}

.menu{
    text-transform: uppercase;
    background: #26d2fc;
    font-size: 12pt;
    list-style-type: none;
    padding: 0;
    width: 270px;
    margin: 0 auto;
}

.menu a{
    color: black;
    display: block;
    padding: 10px 25px;
}

.menu a:hover{
    color: white;
    background: #333333;
}

.heading {
    color: white;
    background: #333333;
    padding: 25px;
}

.menu li + a {
    height: 50px;
}

h1.product-name {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.quick {
    font-size: 12px;
    color: rgb(112, 112, 112);
    text-align: left;
}

.description {
    font-size: 11px;
    color: rgb(128, 128, 128);
    text-align: left;
}

.contact-form + input {
    width: 300px;
    height: 20px;
    border: 1px solid #efefef;
}

.contact-form + input:focus, textarea:focus {
    background: #f2fcff;
    outline: none;
}

.contact-form + input.submit-button{
    width: 150px;
}

.contact-form + input.reset-button{
    width: 150px;
}

.contact-form + textarea {
    width: 300px;
    height: 120px;
    border: 1px solid #efefef;
    text-transform: capitalize;
}

.footer {
    background: #373737;
    color: white;
    font-size: 11px;
    width: 100%;
}

.footer-top-bg{
    width: 100%;
    min-width: 1170px;
    background: #373737;
}

.footer-top-content{
    width: 1170px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-top-column {
    display: inline-block;
    width: 170px;
    white-space: normal;
    vertical-align: top;
    padding-top: 75px;
    font-size: 12px;
}

.footer-pay-method{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.footer-menu{
    margin: 0;
    list-style-type: none;
    line-height: 1.5;
}

.footer-email-input-and-button{
    display: flex;
    white-space: nowrap;
}

.footer-top-column:last-child ul, .footer-top-column:nth-last-child(2) ul{
    padding: 0;
}

.footer-top-column:nth-last-child(2), .footer-top-column:last-child{
    width: 270px;
}

.footer-input-email{
    width:150px;
    height: 28px;
    background: #fff51f;
    border: 0;
    outline: none;
    padding: 0 15px;
    font-size: 11px;
}

.footer-input-email-submit-button {
    height: 28px;
    background: black;
    color: white;
    border: 0;
    font-size: 11px;
    outline: none;
    cursor: pointer;
}

.footer-input-email-submit-button:active{
    background: #222222;
}

.footer-input-email::placeholder {
    color: #b4ad29;
    font-size: 11px;
}

.footer-contact-info{
    width: 100%;
    font-size: 14px;
}

.footer-menu a{
    color: white;
}

.footer-menu a:hover, .footer-contact-info a{
    color: #fff51f;
}

.footer-heading {
    font-size: 18px;
    color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
li.footer-heading{
    margin-bottom: 25px;
}

.footer-bottom-bg {
    background: #333333;
    width: 100%;
    min-width: 1170px;
}

.footer-bottom-content {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    height: 47px;
    font-size: 0;
    display: flex;
    align-items: center;
}

.footer-bottom-content-left {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    margin: 0;
}

.footer-bottom-content-right {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    margin: 0;
    text-align: right;
}

.footer-bottom-content-right a img {
    filter: brightness(100);
    margin-right: 15px;
}


caption {
    font-weight: bold;
    text-align: left;
}

.main-img{
    margin-left: 4px;
    outline: #eaeaea solid 2px;
}

.main-img:hover {
    outline: none;
}

.product-view {
    border: 0px;
    border-collapse: collapse;

}

.product-page-heading {
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-weight: 100;
}

.product-view td {
    border: 0px;
}

.product-view tr {
    border-bottom: #d6d4d4 solid 1px;
}

.active-td {
    background: #26d2fc;
    padding: 10px;
}

/*Product page START*/

.main-menu-column{
    display: inline-block;
    width: 270px;
    white-space: normal;
}

.main-content-column{
    display: inline-block;
    width: 870px;
    white-space: normal;
    padding-left: 30px;
}

.quick-overview{
    white-space: nowrap;
    display: flex;
}

.quick-overview-img{
    display: inline-block;
    width: 370px;
    white-space: normal;
}

.quick-overview-content{
    display: inline-block;
    width: 530px;
    white-space: normal;
}

.poduct-page-main-img{
    width: 370px;
}

.button-add-to-card{
    width: 130px;
    height: 48px;
    background: #fb4d01;
    color: white;
    border: 0;
}

.button-add-to-card:hover:active:focus{
    background: #fb1e01;
    border: 0;
    outline: none;
 }

.button-add-to-card:visited{
    background: #fb4d01;
    border: 0;
    outline: none;
}
/*Product page END*/

/*Catalog page START*/
.catalog-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-product{
    width:270px;
    height: 320px;
    background: white;
    margin-top: 30px;

}

.catalog-product-img{
    width: 250px;
}

.product-photo{
    padding: 10px;
}

.product-caption{
    padding: 10px;
    white-space: nowrap;
    display: flex;
    font-weight: bold;
    font-style: italic;
}

.product-title{
    display: inline-block;
    width: 70%;
    font-size: 14px;
}

.product-prices{
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 18px;
}
/*Catalog page END*/

/*Contact START*/
.background-header-content{
    position: absolute;
}
/*Contact END*/