body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.menu{
    text-transform: uppercase;
    background: #26d2fc;
    font-size: 12pt;
    list-style-type: none;
    padding: 0;
    width: 300px;
}

.menu a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 25px;
}

.menu a:hover{
    color: white;
    background: #333333;
}

.heading {
    color: white;
    background: #333333;
    padding: 25px;
}

.menu li + a {
    height: 50px;
}

h1.product_name {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.quick {
    font-size: 12px;
    color: rgb(112, 112, 112);
    text-align: left;
}

.description {
    font-size: 11px;
    color: rgb(128, 128, 128);
    text-align: left;
}

input {
    width: 300px;
    height: 20px;
    border: 1px solid #efefef;
}

input:focus, textarea:focus {
    background: #f2fcff;
    outline: none;
}

input.submit_button{
    width: 150px;
}

input.reset_button{
    width: 150px;
}

textarea {
    width: 300px;
    height: 120px;
    border: 1px solid #efefef;
    text-transform: capitalize;
}

.footer {
    background: #373737;
    color: white;
    font-size: 11px;
}

.footer_heading {
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: 5px 0;
}

.footer_bottom {
    background: #333333;
    padding: 15px 0;
}

caption {
    font-weight: bold;
    text-align: left;
}

.main_img{
    margin-left: 4px;
    outline: #eaeaea solid 2px;
}

.main_img:hover {
    outline: none;
}

.product_view {
    border: 0px;
    border-collapse: collapse;

}

.product_page_heading {
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-weight: 100;
}

.product_view td {
    border: 0px;
}

.product_view tr {
    border-bottom: #d6d4d4 solid 1px;
}

.active_td {
    background: #26d2fc;
    padding: 10px;
}