body {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container{

}
.header{
    width: 100%;
    background: #abeafa;
    height: 700px;
}

.header_content{
    width: 1170px;
    margin: 0 auto;
    background: url(img/surfhouse_logo.png) 69px 24px no-repeat #abeafa;
    height: 700px;
}

.main {
    width: 1170px;
    margin: 0 auto;
}

.menu{
    text-transform: uppercase;
    background: #26d2fc;
    font-size: 12pt;
    list-style-type: none;
    padding: 0;
    width: 300px;
}

.menu a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 25px;
}

.menu a:hover{
    color: white;
    background: #333333;
}

.heading {
    color: white;
    background: #333333;
    padding: 25px;
}

.menu li + a {
    height: 50px;
}

h1.product_name {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.quick {
    font-size: 12px;
    color: rgb(112, 112, 112);
    text-align: left;
}

.description {
    font-size: 11px;
    color: rgb(128, 128, 128);
    text-align: left;
}

input {
    width: 300px;
    height: 20px;
    border: 1px solid #efefef;
}

input:focus, textarea:focus {
    background: #f2fcff;
    outline: none;
}

input.submit_button{
    width: 150px;
}

input.reset_button{
    width: 150px;
}

textarea {
    width: 300px;
    height: 120px;
    border: 1px solid #efefef;
    text-transform: capitalize;
}

.footer {
    background: #373737;
    color: white;
    font-size: 11px;
    width: 100%;
}

.footer_top_bg{
    width: 100%;
    min-width: 1170px;
    background: #373737;
}

.footer_top_content{
    width: 1170px;
    height: 300px;
    margin: 0 auto;
    white-space: nowrap;
}

.footer_top_column {
    display: inline-block;
    width: 20%;
    white-space: normal;
}

.footer_heading {
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: 5px 0;
}

.footer_bottom_bg {
    background: #333333;
    width: 100%;
    min-width: 1170px;
}

.footer_bottom_content {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    height: 47px;
    font-size: 0;
    display: flex;
    align-items: center;
}

.footer_bottom_content_left {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    margin: 0;
}

.footer_bottom_content_right {
    display: inline-block;
    width: 50%;
    font-size: 12px;
    margin: 0;
    text-align: right;
}

.footer_bottom_social {
    filter: brightness(100);
    margin-right: 15px;
}


caption {
    font-weight: bold;
    text-align: left;
}

.main_img{
    margin-left: 4px;
    outline: #eaeaea solid 2px;
}

.main_img:hover {
    outline: none;
}

.product_view {
    border: 0px;
    border-collapse: collapse;

}

.product_page_heading {
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-weight: 100;
}

.product_view td {
    border: 0px;
}

.product_view tr {
    border-bottom: #d6d4d4 solid 1px;
}

.active_td {
    background: #26d2fc;
    padding: 10px;
}